@{
    ViewData["Title"] = "About Us";
}

<h1 class="text-info">@ViewData["Title"]</h1>
            
<p class="text-info">We are an upcoming high class fashion store. You need overly priced bougie clothing? 
    We got you. Do you need clothing that will make your ex extremely jealous of you? We got you again! 
    We have had celebrities such as Vince Offer, the ShamWow Guy, Nadya Suleman, the Octomom, even the Queen herself came to buy clothing from us. 
    So come on by to Luxurious Foreign, where we make dirt look like gold.</p>
